{
  "presets": [
    ["@babel/preset-env", {
      // "targets": {
      //   "chrome": "58"
      // },
      "targets": "> 0.5% ", // Browsers with > 0.25% market share
      // "modules": "umd",
      // "allowAllFormats": true,
      "useBuiltIns": "usage", // Automatically include required polyfills
      "corejs": 3 // Use core-js version 3
            // "extensions": [".js", ".jsx", ".ts", ".tsx"],
      // "include": ["lib/**/*", "node_modules/**/*"]
    }]
  ]
}
