node_modules/
optimizely-*.tgz

npm-debug.log
lerna-debug.log

coverage/
dist/

# user-specific ignores ought to be defined in user's `core.excludesfile`
.idea/*
.DS_STORE

browserstack.err
local.log

**/*.gen.ts
