language: node_js
node_js:
  - "5"
  - "6"
  - "node"
branches:
  only:
    - master
env:
  global:
    - secure: "PkWLvFy3SKHXGxKfc4RMTao036tUkYd6lGbHE+I/qgbLG2auZca+q9aHaxvnbIkMOWTcIHrCPRzvIY1Alq2LyH3OziHR5u1I9MA+TIKTpcaZzSXh5qlELwMCOQnEmwJyqAIuQNq0MGiEMhRzKej1yuC7aUnSk+QJJf4vgUNsPU7qfEPXQEVSVmLMgWr/0aIxcqeB0JB+NTNJGDcTJrwvwH9K5zGW19pAIIbwYHLJ2eFth6c9FfCPTfLmbpC0yWujMVea1N6Tbo46aUoFEGE1/wgercJW88AXXiK9Wa2S+801Em4UvERt1wH3k+iRTZTUbia9Bs3KPdYeyiBIoejWiES2zk4U2BVQaHWRO3vR90En7M9f7DoCzDLklOg2ZvSeLQ8XmX/979iIdGMUmVGW5WffYj+O2piWnaPVPeS5VsUPfZFoFfnIDHkTAtI5eDxkpuyKDqJpQr+fM5K4w9A9G0wBDDOIoBVpqjUo3OK7PyUBRyhA3AesK/4E0iWtmIEK3IQRyzVrL9ifwmTA0ikrHIBETslcYF78qUOVXwn+VYyZhJHlakG6SOGWwOl92cZcEf9wGRP8hFgB5f4kZITgNQMRzj/x/K+YPLG4+8V9DBKXYrd6uUaItJ78pE6zdMS3BCduds98FqfsYNn7kfa1CRXtJ3M/SC6ZAFjE/8lhEcg="
    - secure: "OyWUgwuPAxKaf8X627DjZDkp+h5uvLntJYcMTtq4FUTaokKBk7UbNs5MW2pP1rbzHIqEQDuj3WneuODMYpumH/gq9wwFSNgZipHzSbKUWMOPW3njIuN6N9ikkzVijEUh2ljK4wC3BVOWfaatR4J/KTpQTaJ6LanOabCo2StB70bGxfFvrHAAfRAAAGjVyAPovCcuDI4glfdEQa0H95iTKxCpPK9/oDDZCC8pyjHhb7zVin/D2JDPSVlEmiUPanTP3L//ICLKcdL/v3W5b4Sh1nuKFsHMxEXAPTl7/oTkG7hAcIILBmKhQz58P/rgmjSkz5GvC4CbwSOJigQAY7AUTZuW0SYWQh95TiaIXwVMnHSG5ZZiyGgeG8bpQJjn5yAiUViZHHGI7MUUvfxpFFYss2pS/gOWi21Qb5qXrb5qlPWmTLpxhQ6VOTYem/1/KeBIpSwP4+6qjDV+BYZYdrx+YbB4NEdDXGvHvt2gDXc1UhaPfBegWcyoC65iawsKrgTtID0Au+4hwvuZu3o6D0JCh2604+rHMD7OK9pjGjH5FiTI0eY0qhF6Nq3hg2l3GUpkgGH9UNWs6Hs/dJ2fFF34fE9Ki/2c6hZDmYxWqOC8oO5I39ECUq+pG31WdfSmIw9LcgA2AqxqbkXdBK7eYvNXRdg+QQcEx31Yvm5oCsc4lLE="
before_script:
  - npm install grunt-cli -g
install: "npm install"
script:
  - "npm run test-travis"
after_success:
- npm run coveralls
