@font-face {
  font-family: 'fira_codemedium';
  src: url('FiraCode-Medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  background-color: #ffc09f;
  display: flex;
  flex-direction: column;
  font-family: 'Fire Sans';
  align-items: center;

  height: 100%;
}
#root {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  width: 80vw;
  /* border: 10px solid #79ADDC;
  background: #79ADDC; */
  display: flex;
  flex-direction: column;
  transition: 0.5s opacity;
  opacity: 0;
  position: relative;
  margin-bottom: 2rem;
}
.board.ready {
  opacity: 1;
}
.board .row {
  display: flex;
  flex-direction: row;
}
.instructions {
  font-size: 75%;
  text-align: center;
  margin-top: 1rem !important;
}
.tile pre {
  font-size: 80%;
  opacity: .75;
  margin-bottom: .5rem;
}
.tile {
  font-family: 'fira_codemedium';
  display: flex;
  width: 24%;
  background: #fcf5c7;
  margin: 0.5%;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 auto;
  height: auto;
  transition: 0.5s all;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  color: #777;
}
.board.ready .tile:hover {
  cursor: pointer;
}
.board.finished .tile:hover {
  cursor: inherit;
}
.tile.result-false {
  background: #ff7023;
  color: black;
}
.tile.result-true {
  background: #adf7b6;
  color: black;
}
.tile:before {
  content: '';
  float: left;
  padding-top: 100%;
}
.tile pre {
  transition: .5s all;
}
.tile .activated {
  opacity: 1;

}
.tile .not-activated {
  opacity: 0;
}
.outcome {
  font-family: 'fira_codemedium';
  font-size: 200%;
  text-align: center;
  margin-bottom: 1rem;
  transition: 0.5s all;
  width: 0;
  height: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 120%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: -1;
}

.outcome strong {
  font-size: 150%;
  display: block;
  margin: 5px 5px 0 0;
}

.outcome .log-wrapper {
  font-size: 100%;
  margin-top: 1rem;
}

.outcome-lose {
  z-index: 5;
  margin-left: -200px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  width: 400px;
  height: inherit;
  padding: 20px;
  opacity: 1;
}
.outcome-win {
  z-index: 5;
  margin-left: -200px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  height: inherit;
  width: 400px;
  padding: 20px;
  opacity: 1;
}

form.user {
  font-size: 150%;
  margin: 1rem 2rem 2rem;
  text-align: center;
  max-width: 640px;
}
form.user p {
  margin: 0;
}

form.user input {
  font-size: 100%;
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
  }

  .board {
    width: 100vw;
  }
  .tile pre {
    display: none;
  }
  .tile {
    font-size: 40%;
    font-family: 'Fira Sans';
  }

  .outcome-lose,
  .outcome-win {
    left: 0;
    margin-left: 3%;
    width: 94%;
    box-sizing: border-box;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .board {
    width: 80vh;
  }
  .tile span {
    font-size: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .tile span {
    font-size: 80%;
  }
}