name: Source clear

on:
  push:
    branches: [ master ]
  schedule:
    # Runs "weekly"
    - cron: '0 0 * * 0'

jobs:
  source_clear:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Source clear scan
        env:
          SRCCLR_API_TOKEN: ${{ secrets.SRCCLR_API_TOKEN }}
        run: curl -sSL https://download.sourceclear.com/ci.sh | bash -s - scan